.gwent_client {
  height: 80%;
  width: 100%;
  padding: 10px;
  border-style: solid;
  text-align: center;
}

.gwent_client_grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.stats_panel {
  border: 2px solid black;
  padding-bottom: 10px;
}

.weather_grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.board_panel {
  border: 2px solid black;
  height: 100%;
}

.field {
  height: 90%;
}

.field_grid {
  display: grid;
  grid-template-rows:auto auto auto 5% auto auto auto;
  row-gap: 10px;
  height: 100%;
}

.field_grid div {
  text-align: center;
}