.gwent-client {
  height: 80%;
  width: 100%;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.gwent-client-grid {
  display: grid;
  border-style: solid;
  padding: 10px;
  grid-template-columns: 20% 60% 20%;
  padding-bottom: 40px;
}

.player-stats-panel {
  border: 2px solid white;
  padding-bottom: 10px;
}

.weather-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.weather-grid div {
  border: 1px solid white;
}

.board-panel {
  height: 100%;
}

.field-grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  height: 85%;
}

.row-grid {
  display: grid;
  grid-template-columns: 10% 10% 80%;
}

.rallyhorn {
  border: 2px solid white;
}

.range {
  border: 2px solid white;
}

.cardrow {
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-active {
  border: 4px solid red
}

.rallyhorn-active {
  border: 4px solid gold;
}

.weather-active .rallyhorn-active {
  border: 2px solid red; 
  outline: 2px solid gold;
  outline-offset: 4px;
}

.player-hand {
  height: 14%;
  border: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-focus {
  height: 320;
  width: 180;
  align-items: center;
  align-self: center;
  display: inline-block;
}