.gwent_client {
  height: 80%;
  width: 100%;
  padding: 10px;
  border-style: solid;
  text-align: center;
}

.gwent_client_grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.stats_panel {
  border: 2px solid black;
  padding-bottom: 10px;
}

.weather_grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.board_panel {
  border: 2px solid black;
  height: 100%;
}

.field {
  height: 90%;
}

.field_grid {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 10% 90%;
  height: 100%;
}

.card_focus {
  height: 320;
  width: 180;
  align-items: center;
  align-self: center;
  display: inline-block;
}

.rallyhorn {
  display: inline;
  border: 2px solid black;
}

.cardrow {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}