@import 'library';

@font-face {
  font-family: 'Asap';
  src: url('./fonts/Asap.ttf') format('ttf'),
    url('./fonts/Asap-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Asap', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#root {
  padding-bottom: 2.5rem;
  /* Footer height */
  background: linear-gradient(to right, #1a1a1a, #333333);
}

h1, h2, h3, h4, h5, h5 {
  color: #fff;
  font-weight: normal;
}

h1 {
  font-size: 1.383rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.296rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.215rem;
  text-transform: none;
}

h4 {
  font-size: 1.138rem;
  text-transform: none;
}

h5 {
  font-size: 1.067rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-transform: uppercase;
}

strong {
  color: #fff;
}

input {
  @include input-base;
  border: 4px solid $secondary-button-border;
}

button {
  @include button-base;
  background-color: $secondary-button-background;
  color: $secondary-button-color;
  border: 1px solid $secondary-button-border;

  &:hover {
    background-color: $secondary-button-background-hover;
  }
}

.primary-button {
  border: 4px solid $primary-button-border;
  color: $primary-button-color;

  svg {
    vertical-align: middle;
    margin-right: 7px;
    fill: $primary-button-color;
    color: $primary-button-color;
  }
}

.icon-button {
  padding: 4px 10px;
  font-size: 1rem;
  border-radius: 5px;
  vertical-align: middle;

  svg {
    color: #fff;
    fill: #fff;
    margin-right: 7px;
  }
}

p,
a,
span,
label,
button,
th,
td {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  color: #fff;
}

span.error {
  color: $error-color;
  font-size: 1rem;
}

strong {
  font-weight: bold;
}

th, td {
  color: #fff;
  font-weight: 700;
}

footer {
  position: absolute;
  bottom: 0;
  color: #fff;
}