.deckbuilder {
  height: 80%;
  width: 100%;
  padding: 10px;
  border-style: solid;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.one {
  border: 2px solid black;
}

.two {
  border: 2px solid black;
}

.three {
  border: 2px solid black;
}


.faction_select p {
  display: inline;
}

.card_panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 2px;
  margin: 0 16px 16px 16px;
}

ul {
  list-style-type: none;
}