.large-card {
    height: auto;
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;

    // thank you Bri Camp Gomez! https://codepen.io/brianacamp/pen/ExxrYra
    .large-card-image {
      width: 100%;

      img {
        width: 150px;
        height: 290px;
      }
    }

    .large-card-availability {
      width: 100%;
      background: transparent;
      position: relative;
      z-index: 1;
      margin-bottom: 2rem;     
    }
}

.available {
  background-color: rgb(255, 255, 255, 0);
}

.weaker-card {
  color: red;
}

.stronger-card {
  color: green;
}