.large_card {
    height: auto;
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2rem;

    // thank you Bri Camp Gomez! https://codepen.io/brianacamp/pen/ExxrYra
    .large_card__image {
      width: 100%;
    }

    .large_card__availability {
      width: 100%;
      background: transparent;
      position: relative;
      z-index: 1;
      margin-bottom: 2rem;     
    }
}

.available {
  background-color: rgb(255, 255, 255, 0);
}

.weaker_card {
  color: red;
}

.stronger_card {
  color: green;
}