.large_card {
    height: auto;
    width: 100%;
    border-style: solid;
    margin: 5px;
    border-radius: 10px;
    position: relative;
}

.available {
  position: absolute;
  top: 160px;
  right: 105px;
  background-color: rgb(255, 255, 255, 0);
}

.weaker_card {
  color: red;
}

.stronger_card {
  color: green;
}