.large_card {
    height: 320px;
    width: 150px;
    border-style: solid;
    margin: 5px;
}

.card-img-area {
    height: 60%;
    width: 100%;
}

.card-text-area {
    height: 40%;
    width: 100%;
}

.card_icon_column {
    text-align: left;
}