.app-wrapper {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
  }

  .sidebar {
    padding: 0 2rem;
    width: 100%;
  }

  .logged-out {
    display: flex;
    align-items: center;
    width: 30%;
  }

  .login_wrapper {
    margin-left: 10rem;
  }
}

h1 {
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
  }

  li {
    display: inline;
    padding-right: 10px;
    margin-top: 2rem;

    a {
      color: #818284;
      text-decoration: none;
      border: 2px solid transparent;
      border-radius: 3px;
      padding: 4px 40px;
      transition: .3s;

      &:hover {
        border: 2px solid #282a2b;
      }
    }
  }
}

* {
  box-sizing: border-box;
  background-color: #050505;
}